  <!-- <div class="grid-item col-sm-6 col-lg-4 img-fluid"><img src="/assets/img/1.jpg" alt=""></div>
  <div class="grid-item col-sm-6 col-lg-4 img-fluid"><img src="/assets/img/2.jpg" alt=""></div>
  <div class="grid-item col-sm-6 col-lg-4 img-fluid"><img src="/assets/img/3.jpg" alt=""></div>
  <div class="grid-item col-sm-6 col-lg-4 img-fluid"><img src="/assets/img/4.jpeg" alt=""></div>
  <div class="grid-item col-sm-6 col-lg-4 img-fluid"><img src="/assets/img/5.jpg" alt=""></div> -->

  <!-- <div class="row bg-warning">
    <div class="col-6 bg-warning">
      <div class="row justify-content-end">
        <div class="col-8 bg-success"><img style="max-height: 300px;"  src="/assets/img/1.jpg" alt=""></div>
      </div>
      <div class="row justify-content-end">
        <div class="col-8 bg-danger"><img style="max-height: 300px;"  src="/assets/img/2.jpg" alt=""></div>
      </div>
    </div>
    <div class="col-6"><img style="max-height: 650px;" class="img-fluid" src="/assets/img/3.jpg" alt=""></div>
  </div>
  <div class="row  justify-content-end bg-success">
    <div class="col-5"><img style="max-height: 300px;" src="/assets/img/4.jpeg" alt=""></div>
    <div class="col-4"><img style="max-height: 300px;" class="img-fluid" src="/assets/img/5.jpg" alt=""></div>
  </div> -->

 <div class="gallery">
  <figure class="gallery__item img-1">
    <div class="texto-img">BICICLETAS DE MONTAÑA</div>
    <img src="/assets/img/1.jpg" alt="Bicicletas de montaña" class="rounded img-d">
  </figure>
  <figure class="gallery__item img-2">
    <div class="texto-img">BICICLETAS BMX</div>
    <img src="/assets/img/3.jpg" alt="Bicicletas BMX" class="rounded img-d">
  </figure>
  <figure class="gallery__item img-3">
    <div class="texto-img">BICICLETAS DE CARRETERA</div>
    <img src="/assets/img/2.jpg" alt="Bicicletas de carretera" class="rounded img-d">
  </figure>
  <figure class="gallery__item img-4">
    <div class="texto-img">BICICLETAS ELÉCTRICA</div>
    <img src="/assets/img/4.jpeg" alt="Bicicletas elecrica" class="rounded img-d">
  </figure>
  <figure class="gallery__item img-5">
    <div class="texto-img">BICICLETAS INFANTILES</div>
    <img src="/assets/img/5.jpg" alt="Bicicletas infantiles" class="rounded img-d">
  </figure>
</div>

