<section id="portada">
  <div class="full-screen-video-container">
    <div class="container titulos">
      <h3 class="">BIKEROOT</h3>
      <h3><span>TÚ TIENDA DE BICIS</span></h3>
      <h3>DESDE 1978</h3>
    </div>
    <video autoplay muted loop poster="/assets/img/1.jpg">
      <source src="../assets/video/portada.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta video.
    </video>
  </div>
  <div class="pt-5 mt-5 text-center">
    <h2>CATÁLOGO DE BICICLETAS</h2>
  </div>
</section>

<!-- ***************** GRID IMAGENES CATEGORIAS *********************** -->
<section class="container pt-2 mt-2">
  <images-layout></images-layout>
</section>

<!-- ************* LISTA DE BICICLETAS ************************** -->
<h2 class="text-center mt-5">NUESTRAS BICICLETAS MÁS POPULARES</h2>
<div class="  my-5 container d-flex flex-wrap justify-content-center justify-content-xl-start">

  <!-- <div class="caja-producto">
    <div class="caja-imagen">
      <img src="/assets/img/bc-carretera/revelator-lisse-sonic.jpg" alt="">
    </div>
    <div class="titulo-producto">
    </div>
  </div> -->
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
  <div class="card my-2 mx-3" style="width: 18rem;">
    <img src="/assets/img/revelator-lisse-sonic.jpg" class="card-img-top" alt="Bicicleta">
    <div class="back">
      <h5 class="card-title text-center">VER DETALLES</h5>
      <div class="card-text text-center"><i class="bi bi-arrow-up-right-square"></i></div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Bicicleta RG-524S</h5>
      <hr>
      <div class="card-text text-center">45€</div>
    </div>
  </div>
</div>
<div class="text-center">
  <div><h5>VISITA NUESTRA TIENDA</h5></div>
  <div class="mb-4"><img class="text-center" id="flecha" src="/assets/img/arrow.png" alt=""></div>
  <div class="mt-2"><a
    class="btn btn-lg btn-floating"
    style="background-color: rgb(65, 62, 62);"
    [routerLink]="['/bicicletas']" role="button" >
    <i class="bi bi-bicycle text-light"></i></a></div>
</div>
<div class="mt-5 container-fluid container-fluidd foot">
  <div class="container d-flex justify-content-between align-items-center py-3">
    <div>BIKEROOT | TIENDA DE BICICLETAS</div>
    <div> &#169; 2021 | PÁGINA CREADA POR SERGIO MARTÍN</div>
  </div>
</div>



